div.body-parts(my-deadman-directive)
    span.head(data-parts="head") head
    span.neck(data-parts="neck") neck
    span.left-arm(data-parts="left-arm") left arm
    span.right-arm(data-parts="right-arm") right arm
    span.left-leg(data-parts="left-leg") left leg
    span.right-let(data-parts="right-leg") right leg
