html
	head(lang="en")
		title Hanglady
		link(type="text/css", rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="public/dist/project.min.css")

	body(ng-app="hanglady")

		div(class="container", ng-controller="MainCtrl")
			div(class="btn-group", ng-controller="WordCtrl", my-main-directive)
				div(ng-repeat="letter in letters track by $index", my-guess info="guess", class="btn well", my-repeat-directive)
					div.front(ng-if="flip") {{letter}} 
					div.back(ng-if="!flip")  ?

			div(class="input-group", ng-controller="GuessCtrl")
				input(type="text", class="guess", maxlength="1", value="guess", ng-model="guess.letter") 

	script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js") 
	script(type="text/javascript", src="app/static/project.js")
