html
	head(lang="en")
		title Hanglady
		link(type="text/css", rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="public/dist/project.min.css")

	body(ng-app="hanglady")

		div(class="container")
			div(class="btn-group", ng-controller="WordCtrl")

				div(ng-repeat="letter in letters track by $index", my-guess info="guess", class="btn well", my-word-directive)
					div.front(ng-if="flip", ng-bind="letter")
					div.back(ng-if="!flip")  ?

			div(class="input-group", ng-controller="GuessCtrl")
				input(type="text", class="guess", maxlength="1", value="?", ng-model="guess.letter")

			div(ng-controller="AlphabetCtrl")
				span(class="alphabet" ng-repeat="char in alphabet", my-alphabet-directive){{char}}
			

	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/TweenMax.min.js")
	script(src="app/static/project.js")
