html(ng-app="hanglady")
	head
		title Hanglady
		link(type="text/css", rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="public/dist/project.min.css")

	body

		div(class="container")

			div(class="btn-group", ng-controller="WordCtrl")
				div(ng-model="Guess", ng-repeat="letter in splitArray track by $index", class="btn well")
					div(ng-hide="!match", class="front") {{letter}}
					div(ng-hide="match", class="back") ? 

			div(class="input-group", ng-controller="GuessCtrl")
				input(type="text", class="guess", ng-model="guess.letter") 

	script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js") 
	script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.js")
	script(type="text/javascript", src="public/dist/project.min.js")
	script(type="text/javascript", src="app/static/project.js")