html
	head(lang="en")
		title Hangman
		link(href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css')
		link(type="text/css", rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="public/dist/project.min.css")

	body.inverse(ng-app="hangman")

		div.container
			h1 Hangman
			div
				p To begin type your guess below.

			div.game(ng-controller="WordCtrl")
				div.btn-group
					div.btn.well(ng-repeat="letter in letters track by $index", my-guess info="guess", my-word-directive)
						div.front(ng-if="flip", ng-bind="letter")
						div.back(ng-if="!flip")  ?

				div.input-group(ng-controller="GuessCtrl")
					input.guess(type="text", maxlength="1", value="?", autofocus, ng-model="guess.letter")

				div(ng-controller="AlphabetCtrl")
					span.alphabet(ng-repeat="char in alphabet", my-alphabet-directive){{char}}

				div.dead-man(ng-controller="DeadManCtrl")
					div.body-parts(my-deadman-directive)
						.deadman


	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/TweenMax.min.js")
	script(src="app/static/project.js")
